.BookList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

@media only screen and (min-width: 768px) {
  .BookList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
